#one
{
    background: url("ls.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 
}
#one1
{
    color: black;
    border-left: 6px solid black;
    height: auto;
    margin-left: 2%;
    font-size: 30px;
    padding-top: 2%; 
}

a:link, a:visited 
{
    float: right;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.form{
	max-width:400px;
	margin:50px auto;
	background:#fff;
	border-radius:2px;
	padding:20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.form ul{
	list-style:none;
	padding:0;
	margin:0;	
}
.form li{
	display: block;
	padding: 9px;
	border:1px solid gray;
	margin-bottom: 30px;
	border-radius: 3px;
}
.form li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}
.form li > label{
	display: block;
	float: left;
	margin-top: -19px;
	background: gray;
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: rgb(240, 232, 232);
	font-size: 14px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}


.form input[type="email"],
.form input[type="password"],
.form textarea,
.form select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.form li > span{
	background: gray;
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: rgb(223, 223, 223);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.form input[type="submit"],
.form input[type="button"]{
	background:gray;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid gray;
	border-radius: 3px;
	color: rgb(238, 241, 239);
}
.form input[type="submit"]:hover,
.form input[type="button"]:hover{
	background: #6B9FFF;
	color:#fff;
}
a:hover, a:active
 {
    color: blue;
  }

  #wel
  { 
      padding-left: 40%;
font-size: 50px;
  }
