<html>
  <head>
    <title>Feedback Form</title>
    <link href="../css/feedback_form.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div>
      <div id="feedback-div">
        <form
          action="#"
          method="post"
          class="form"
          id="feedback-form1"
          name="form1"
          enctype="multipart/form-data"
        >
          <p class="name">
            <input
              name="name"
              type="name"
              class="
                validate[required,custom[onlyLetter],length[0,100]]
                feedback-input
              "
              required
              placeholder="Name"
              id="feedback-name"
            />
          </p>

          <p class="email">
            <input
              name="email"
              type="email"
              class="validate[required,custom[email]] feedback-input"
              id="feedback-email"
              placeholder="Email"
              required
            />
          </p>

          <p class="text">
            <textarea
              name="comment"
              type="comment"
              class="validate[required,length[6,300]] feedback-input"
              id="feedback-comment"
              required
              placeholder="It was really wonderfull experience!! will be visiting again"
            ></textarea>
          </p>

          <div class="feedback-submit">
            <input type="submit" value="SEND" id="feedback-button-blue" />
            <div class="feedback-ease"></div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
