<!DOCTYPE html>
<html>

<head>
    <link href="../css/loginsignup.css" rel="stylesheet" type="text/css">
    <title>SIGNUP</title>
</head>

<body>
    <div id="loginDiv">
        <div class="vl"></div>
        <div align="left" id="one1">
            SIGN UP
        </div>
        <div id="one2" align="right">

            <a href="../index.html">Home</a>
            <a href="./login.html">Login</a>
        </div>
        <div id="formDiv">
            <form class="form" id="signupPg" name="form" method="post">
                <ul>
                    <li>
                        <h1>Sign Up For Free</h1>
                    </li>
                    <li>
                        <input type="text" name="name" class="info" maxlength="100" placeholder="Enter your full name">
                    <li>
                        <input type="email" name="email" maxlength="100" class="info"
                            placeholder="Enter your registered email">
                    </li>
                    <li>
                        <input type="password" name="password" class="info" placeholder="Enter password">
                    </li>
                    <li>
                        <input type="submit" id="butt" value="Get Started">
                    </li>
                </ul>
            </form>
        </div>
</body>

</html>